@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.active_header {
  background-color: #2d6ef5;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
